In [2]:
import pandas as pd

In [25]:
dish = pd.read_csv('Dish.csv')
menu = pd.read_csv('Menu.csv')
menu_item = pd.read_csv('MenuItem.csv')
menu_page = pd.read_csv('MenuPage.csv')
menu_cleaned = pd.read_csv("./v2/Cleaned_Menu.csv")

In [26]:
#Dish table Validation
#Check if ID is unique and no null value
print("id column contiains",dish['id'].isnull().sum(),"null values")
print("id column contains", sum(dish['id'].duplicated()),"duplicate values")
#First_appeared should be smaller than last_appeared.
dish[dish['first_appeared']>dish['last_appeared']]

id column contiains 0 null values
id column contains 0 duplicate values

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
131193,164029,Clear beef broth,NaN,0,1,1900,0,0.25,0.25
163257,204888,Hot roast beef with gravy,NaN,0,1,1900,0,0.25,0.25
197049,250693,SURI LEBERLI - Shredded Calf's Liver Flambe in...,NaN,0,1,1945,0,NaN,NaN
197052,250699,"SWISS MINCED VEAL, ROESTI",NaN,0,1,1945,0,NaN,NaN
237739,301736,Cafe Glacee,NaN,0,2,1940,0,0.40,0.40
244533,309629,Garlic Butter,NaN,0,1,1947,0,0.40,0.40

In [27]:
dish[dish['lowest_price']>dish['highest_price']]

Empty DataFrame
Columns: [id, name, description, menus_appeared, times_appeared, first_appeared, last_appeared, lowest_price, highest_price]
Index: []

In [28]:
#Menu table validation
print("id column contiains",menu['id'].isnull().sum(),"null values")
print("id column contains", sum(menu['id'].duplicated()),"duplicate values")

id column contiains 0 null values
id column contains 0 duplicate values

In [33]:
#Venue column
menu['venue'].value_counts()

COMMERCIAL                4704
SOC;                       541
RESTAURANT                 425
PROF;                      416
COM                        280
                          ...
OTHER (PRIVATE HOST);        1
OTHER (MUSIC SOCIETY?)       1
PROG;                        1
OTHER (RESIDENCE?)           1
NAC;                         1
Name: venue, Length: 233, dtype: int64

In [39]:
#MenuItem table validation
print("id column contains",menu_item['id'].isnull().sum(),"null values")
print("id column contains", sum(menu_item['id'].duplicated()),"duplicate values")

id column contains 0 null values
id column contains 0 duplicate values

In [40]:
print("dish_id column contains",menu_item['dish_id'].isnull().sum(),"null values")
print("menu_page_id column contains",menu_item['menu_page_id'].isnull().sum(),"null values")

dish_id column contains 241 null values
menu_page_id column contains 0 null values

In [41]:
#MenuPage table validation
print("id column contiains",menu_page['id'].isnull().sum(),"null values")
print("id column contains", sum(menu_page['id'].duplicated()),"duplicate values")

id column contiains 0 null values
id column contains 0 duplicate values

In [38]:
print("id column contiains",menu_page['menu_id'].isnull().sum(),"null values")

id column contiains 0 null values

In [35]:
menu_cleaned['venue'].value_counts()

COM                                    5012
SOC                                     656
PROF                                    438
RESTAURANT                              195
GOVT                                    169
EDU                                     157
HOTEL                                   124
OTHER                                   107
RAILROAD                                102
NAV                                     102
PATR                                    102
POL                                      92
MIL                                      88
STEAMSHIP                                52
PAT                                      35
FOREIGN                                  28
GOV                                      27
RELIG                                    26
SS, FOR                                  21
GREEK LETTER FRATERNITY OR SORORITY      16
AIRLINE                                  14
REL                                      10
PRIVATE                                   6
CLUB                                      4
NAVAL                                     3
PATRIOTIC                                 2
PRO                                       2
DOM                                       1
PROG                                      1
REPORTERS OF EVENT                        1
INDIVIDUAL                                1
POSSIBLY A PRIVATE HOST                   1
RESORT                                    1
ALUMNI                                    1
CULTURAL                                  1
UNKNOWN                                   1
GK                                        1
MUSICAL                                   1
NAC                                       1
Name: venue, dtype: int64

In [46]:
menu['venue'].value_counts()

COMMERCIAL                4704
SOC;                       541
RESTAURANT                 425
PROF;                      416
COM                        280
                          ...
OTHER (PRIVATE HOST);        1
OTHER (MUSIC SOCIETY?)       1
PROG;                        1
OTHER (RESIDENCE?)           1
NAC;                         1
Name: venue, Length: 233, dtype: int64