In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('menupage.csv')

In [4]:
df[df['full_height'].isna()]

,id,menu_id,page_number,image_id,full_height,full_width,uuid
8,127,12462,2.0,4000001128,NaN,NaN,510d47db-1ef8-a3d9-e040-e00a18064a99
9,128,12462,1.0,474450,NaN,NaN,510d47db-1ef9-a3d9-e040-e00a18064a99
337,514,12582,2.0,4000001128,NaN,NaN,510d47db-1ef8-a3d9-e040-e00a18064a99
338,515,12582,1.0,474450,NaN,NaN,510d47db-1ef9-a3d9-e040-e00a18064a99
4050,5697,14313,2.0,4000017099,NaN,NaN,510d47db-77a2-a3d9-e040-e00a18064a99
...,...,...,...,...,...,...,...
64315,74810,34943,9.0,5070161,NaN,NaN,49b034b0-2df9-0131-5f95-58d385a7bbd0
64316,74811,34943,10.0,5070162,NaN,NaN,49c16870-2df9-0131-2701-58d385a7bbd0
64317,74812,34943,11.0,5070163,NaN,NaN,49d30fe0-2df9-0131-e464-58d385a7bbd0
64967,75462,35037,1.0,5106619,NaN,NaN,76ff1e10-91ce-0131-2d43-58d385a7b928
64968,75463,35037,2.0,5106620,NaN,NaN,7715aa80-91ce-0131-e213-58d385a7b928

In [5]:
df['full_height'].fillna(0,inplace=True)

In [6]:
df['full_width'].fillna(0,inplace=True)

In [7]:
df.to_csv('Cleaned_Menupage.csv',index=False)